* {
  margin: 0;
  padding: 0;
}

#header{
	background-color: #0E0024;
	width: 800px;
	margin-left: auto;
	margin-right: auto;
	border-bottom: thick solid white;
}

h1{
	font-family: 'Helvetica';
	text-align: center;
	text-shadow: 2px 2px #0E0024;
	color: #4CAF50;
}

#gameCanvas{
	padding-left: 0;
    padding-right: 0;
    margin-left: auto;
    margin-right: auto;
    display: block;
}